.umairspan{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
width: 400px;

}
.body-1{
    background-color: black;
 width: 400PX;   
}
.ronaldo{
    background-color: black;
    width: 200px;
}